name: Build
on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  bootstrap:
    strategy:
      matrix:
        os:
          - ubuntu
          - macos
          - windows
        node-version:
          - "20.x"
          - "22.x"
          - "24.x"

    name: build
    runs-on: ${{ matrix.os }}-latest
    steps:
      - uses: actions/checkout@v6.0.2

      - uses: actions/setup-node@v6.2.0
        with:
          node-version: ${{ matrix.node-version }}

      - run: yarn install --frozen-lockfile

      - run: yarn prettier:check

      - run: yarn build

      - run: |
          cat tests/fixtures/FILENAME.ts | yarn run run -- FILENAME.ts

      - run: yarn start
