name: Build
on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  bootstrap:
    strategy:
      matrix:
        os:
          - ubuntu
          - macos
        node-version:
          - "14.x"
          - "16.x"

    name: build
    runs-on: ${{ matrix.os }}-latest
    steps:
      - uses: actions/checkout@v2.4.0

      - uses: actions/setup-node@v2.5.1
        with:
          node-version: ${{ matrix.node-version }}

      - run: yarn install --frozen-lockfile

      - run: yarn prettier:check

      - run: yarn build

      - run: yarn start
