name: Build
on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  bootstrap:
    strategy:
      matrix:
        os:
          - ubuntu
          - macos
          - windows
        node-version:
          - "18.x"
          - "20.x"

    name: build
    runs-on: ${{ matrix.os }}-latest
    steps:
      - uses: actions/checkout@v4.2.1

      - uses: actions/setup-node@v4.0.4
        with:
          node-version: ${{ matrix.node-version }}

      - run: yarn install --frozen-lockfile

      - run: yarn prettier:check

      - run: yarn build

      - run: yarn start
