name: Build
on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  bootstrap:
    strategy:
      matrix:
        os:
          - ubuntu
          - macos

    name: build
    runs-on: ${{ matrix.os }}-latest
    steps:
      - uses: actions/checkout@v2.3.4

      - uses: actions/setup-node@v2.1.4
        with:
          node-version: "14.x"

      - run: yarn install --frozen-lockfile

      - run: yarn prettier:check

      - run: yarn build

      - run: yarn start
