name: Publish
on:
  push:
    tags:
      - "v*"

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1

      - uses: actions/setup-node@v6.0.0
        with:
          node-version: "22.x"
          registry-url: "https://registry.npmjs.org"
          scope: "@fsouza"

      - run: yarn install --frozen-lockfile

      - run: yarn publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
