name: Publish
on: create

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.4.0
        if: github.event.ref_type == 'tag'

      - uses: actions/setup-node@v2.5.1
        if: github.event.ref_type == 'tag'
        with:
          node-version: "14.x"
          registry-url: "https://registry.npmjs.org"
          scope: "@fsouza"

      - run: yarn install --frozen-lockfile
        if: github.event.ref_type == 'tag'

      - run: yarn publish --access public
        if: github.event.ref_type == 'tag'
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
